html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding-bottom: 60px; /* フッター分のスペースを確保 */
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* フッター */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* body の padding-bottom と合わせる */
    background-color: #f8f9fa;
    text-align: center;
    line-height: 60px; /* 縦中央揃え */
    color: #333;
}

/* カード hover */
.diary-card:hover {
    background-color: #f8f9fa;
}

/* タイトルと本文の文字数制限 */
.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ボタン focus */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* フォーム */
.form-control {
    background-color: #fff;
    color: #111;
    border: 1px solid #ccc;
}
